:root { /*permite que as variáveis sejam utilizadas na pag inteira */
    --branco: #FFFFFF;
    --rosa: #F5989D; 
    --rosaclaro: #FFC4B2;
    --laranja: #F69679; 
    --cinza: #808080;
    --rosinhatransparente: #FFC4B2AB;

    /* --branco: #FFFFFF;
    --rosa: #F2CECE; 
    --rosaclaro: #D9D5F2;
    --laranja: #5D6C8C; 
    --cinza: #808080;
    --rosinhatransparente: #F2CECEAB; */

    --azulclaro: #5D6C8CAB;
    --brancotransparente: #FFFFFFAB;

}